html{
    background: url("images/roadtrip2.jpg") no-repeat center center fixed; 
    filter: sepia(50%);
    filter: saturate(50%)
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}